#app {
    font-family: 'Poppins', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.card-img-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card-product {
    border-radius: 15px;
    border-color: transparent;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    text-transform: uppercase;

}

.breadcrumb-item.active {
    font-family: bold;
    color: black;
    text-transform: uppercase;

}

.text-dark {
    text-decoration: none;
}